# Copy the following into global .gitconfig
[alias]
        tree = log --graph --decorate --pretty=oneline --abbrev-commit
        co = checkout
        br = branch
        ci = commit
        st = status
        cp = cherry-pick --edit
